
   .work-list {
    margin: 0;
  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .work-item {
    background-color: var(--white-color);
    width: 370px;
    height: 405px;
  }
  
  .work-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .work-link:hover,
  .work-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
 
  